<!DOCTYPE html>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professional Portfolio</title>
</head>
<body>
<section class="page-header">
    <h1 class="project-name">Professional Portfolio</h1>
    <h2 class="project-tagline"></h2>

    <!--<a href= employees class="btn">Employees</a>

    <a href= collection class="btn">Collections</a>-->


    <a href="https://github.com/rbaker8/Employees" class="btn">Employees</a>
    <a href="https://github.com/rbaker8/Collections" class="btn">Collections</a>
</section>

<p>
I have been a software developer working at software companies for almost my entire 25 year career, in banking, public safety, cybersecurity and public education.  This site contains my professional portfolio, github projects I have developed to refine and showcase my technical skills.
</p>
<p>
The first project, Employees, is a Spring Boot and Spring 5 REST microservice running on an embedded Tomcat server with an in-memory H2 SQL database backend for demonstration purposes.
</p>
<p>
The second project, Collections, is a Java class library of my implementations of many of the classic data structures such as lists, deques, queues, stacks, maps, sets and trees.  This includes Test-Driven-Development unit tests of these collection implementations.
</p>
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="richard-baker-a71bb827"><a class="LI-simple-link" href='https://www.linkedin.com/in/richard-baker-a71bb827?trk=profile-badge'>Richard Baker</a></div>
</body>
</html>